:root {
  --primary-color: #226F9A;
  --primary-color-hover: #205c7e;
  --secondary-color: #f0572d;
  --secondary-color-hover: #cc431d;
  --third-color: #37c1f0;
  --third-color-hover: #1c95bd;
  --text-color: #f0f0f0;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

/* --------HOME PAGE-------- */
.home .playBtn {
  margin-top: 50px;
}

.home .playBtn a {
  background-color: #399E5A;
  padding: 15px 40px;
  border-radius: 10px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.home .playBtn a:hover {
  background-color: #26532B;
}


.home .copyright {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-size: 13px;
}

/* --------GAME PAGE-------- */
.game {
  height: 100% ;
  min-height: 100vh;
  width: 100%;
  background-image: url("https://media.discordapp.net/attachments/894538357793767474/1156926510746320926/background3.jpg?ex=6516bf46&is=65156dc6&hm=cbb9102863b9470bff54298dcf9c8afd54513bcb325e0a65998efa4020223677&=&width=1177&height=662");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game .top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.game .bottom-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  align-items: center;
}

.game .mid-bar {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
} 

.game .top-bar .top-left, .game .top-bar .top-right, .game .bottom-bar .bottom-left, .game .bottom-bar .bottom-right, .game .mid-bar .mid-left, .game .mid-bar .mid-right {
  width: 17.5%;
  height: 100%;
}

.game .top-bar .top-mid, .game .bottom-bar .bottom-mid, .game .mid-bar .mid-mid {
  width: 65%;
  height: 100%;
}

/* --CARDS-- */
.card-hidden {
  display: none;
}


.game .top-bar .top-mid {
  display: flex;
  justify-content: center;
  align-items: start;
}

.game .bottom-bar .bottom-mid {
  display: flex;
  justify-content: center;
  align-items: end;
}

.game .bottom-bar .bottom-mid a {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.game .mid-bar .mid-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.game .mid-bar .mid-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.game .top-bar .top-mid img, .game .bottom-bar .bottom-mid img, .game .mid-bar .mid-mid .vertical-img {
  width: 100px;
}

.game .mid-bar .mid-left img, .game .mid-bar .mid-right img {
  height: 100px;
}

.game .mid-bar .mid-mid .horizontal-img {
  height: 138.938px;
}

.game .mid-bar .mid-mid .mid-mid-mid {
  display: flex;
  justify-content: space-between;
  height: 114.93799999999999px;
}

.game .mid-bar .mid-mid .mid-mid-mid img {
  rotate: 90deg;
}

/*--BUTTONS--*/

.game .top-bar .top-left, .game .bottom-bar .bottom-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.game .bottom-bar .bottom-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.game a {
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 12px 20px;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  margin: 20px;
}

.game  a:hover {
  background-color: var(--primary-color-hover);
  color: var(--text-color);
}